.vscode
.clang-format
.DS_Store

# pong-game-C
pong-game/*.o
pong-game/*.exe
pong-game/*.out
pong-game/pong
pong-game/CMakeFiles/
pong-game/CMakeCache.txt
pong-game/Makefile
pong-game/*.cmake
pong-game/*.swp
pong-game/*.tmp
pong-game/*~

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*x